@media (prefers-color-scheme: light) {
  :root {
    --gallery-bg: white;
    --gallery-ac: black;
  }
}
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
div.placeholder {
  color: var(--gallery-ac);
  background-color: var(--gallery-bg);
  border-radius: 2em;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.2),
    0 15px 40px rgba(0, 0, 0, 0.05);
  width: 20vw;
  text-align: center;
  margin-bottom: 2vw;
  font-size: 2vh;
  border: 0.1vh solid gray;
}
div.gallery div.artmobile {
  width: 60vw;
}

div.placeholder * {
  margin: 0;
}
div.placeholder div.title {
  padding: 2vh;
  border-bottom: 0.1vh solid var(--gallery-ac);
}

div.placeholder div.art {
  width: 20vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  border: none;
  box-shadow: none;
}
div.placeholder div.artmobile {
  width: 60vw;
}

div.placeholder div.art img,
div.placeholder div.art audio,
div.placeholder div.art video {
  max-width: 20vw;
  max-height: 40vh;
  margin: auto;
  display: block;
}
div.placeholder div.artmobile img,
div.placeholder div.artmobile audio,
div.placeholder div.artmobile video {
  max-width: 60vw;
}
div.placeholder div.credit {
  border-top: 0.1vh solid var(--gallery-ac);
  padding: 2vh;
}
