:root {
  --prim-fg: #444444;
  --prim-bg: #f2f2f2;
  --prim-ac: #555555;
  --sec-fg: #333333;
  --sec-bg: #d3d3d3;
  --sec-ac: #555555;
  --info-bg: #add8e6;
  --info-fg: #0000ff;
  --warn-bg: #ffffe0;
  --warn-fg: #008000;
  --error-bg: #ffc0cb;
  --error-fg: #8b0000;
  --spoil-fg: #443231;
  --spoil-bg: #e2c49c;
}
body {
  margin: 8% auto;
  padding: 4%;
  background: var(--prim-bg);
  color: var(--prim-fg);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.125em;
  line-height: 1.7em;
  max-width: 69%;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.2),
    0 15px 40px rgba(0, 0, 0, 0.05);
}

@media (pointer: none), (pointer: coarse) {
  body {
    line-height: 1.5em;
    max-width: 80%;
    font-size: 1.05em;
  }
  header h2 {
    display: none;
  }
}
header {
  display: flex;
  padding-block: 1em;
  justify-content: center;
}
header h2 {
  position: relative;
  left: 2%;
}
header h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
header img {
  border: 0.18em solid var(--prim-ac);
  border-radius: 50%;
  width: 3.8em;
  height: 3.8em;
}
nav {
  display: flex;
  font-size: 1em;
  font-weight: bold;
  height: 1.6em;
  line-height: 2em;
  margin-bottom: 1.6em;
  justify-content: space-evenly;
}
article {
  padding-inline: 0.5em;
}
footer {
  font-size: 0.75em;
  line-height: 1em;
  padding-top: 0.25em;
  text-align: center;
}
a {
  text-decoration: none;
  border-bottom: 0.06em solid var(--prim-ac);
  color: var(--prim-fg);
}
a:hover {
  border-bottom: 0.06em dotted var(--prim-ac);
}
blockquote {
  margin: 0.5em;
  padding-inline: 0.5em;
  border-inline-start: 0.25em solid var(--prim-ac);
  background: var(--sec-bg);
  font-size: 1.2em;
}
code {
  font-family: monospace;
  background: var(--sec-bg);
  padding: 0.1em;
}
div.sourceCode {
  margin: 0.5em;
  padding-inline: 0.5em;
  border-inline-start: 0.25em solid var(--prim-ac);
  background: var(--sec-bg);
}
table {
  margin: 0.5em;
  background: var(--sec-bg);
  border: 2px solid var(--prim-ac);
  border-collapse: collapse;
}
td,
th {
  border: 1px solid var(--prim-ac);
  padding: 4pt;
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
details {
  margin: 0.5em;
  border-inline-start: 4px solid var(--spoil-fg);
  background: var(--spoil-bg);
  color: var(--spoil-fg);
}
summary {
  padding: 0.15em;
  cursor: pointer;
  font-size: 1.2em;
}
details[open] > summary {
  border-bottom: 2px solid var(--spoil-fg);
}
details > p,
details > div {
  margin: 0.1em;
  margin-left: 1em;
}
/* fake blockquotes like github alerts */
.info,
.warning,
.error {
  margin: 0.5em;
  padding-inline-start: 0em;
  padding: 0.35em;
}
.info:before,
.warning:before,
.error:before {
  float: right;
  font-size: 3em;
  padding: 0.2em;
}
.info:before {
  content: "★";
}
.warning:before {
  content: "⚠";
}
.error:before {
  content: "⚑";
}

.info {
  border-inline-start: 4px solid var(--info-fg);
  background: var(--info-bg);
  color: var(--info-fg);
}
.warning {
  border-inline-start: 4px solid var(--warn-fg);
  background: var(--warn-bg);
  color: var(--warn-fg);
}
.error {
  border-inline-start: 4px solid var(--error-fg);
  background: var(--error-bg);
  color: var(--error-fg);
}

/* each blogpost link */
.blogentry {
  padding: 0em;
  margin: 0.5em;
  border-inline-start: 0.25em solid var(--prim-ac);
  background: var(--sec-bg);
}
.bloglink {
  padding-inline: 1em;
  font-weight: bold;
}
.blogdetails {
  margin: 1.5em;
  padding: 0.3em;
  padding-inline: 0.5em;
}

/* sitelen pona font. TODO: rename to `.sp` */
@font-face {
  font-family: sp;
  src: url("/ntl.ttf");
}
.tokipona {
  font-family: sp;
}
.tokipona::after {
  content: "​"; /* fix line-end ligature on firefox */
}

/* definition tables in lessons */
.glyph {
  font-family: sp;
  font-size: 2.25em;
  vertical-align: bottom;
  line-height: 0.5em;
}
.glyphsubtitle {
  font-size: 1em;
  vertical-align: text-bottom;
  line-height: 0.5em;
}

/* enable/disable ligatures */
button.sptoggle {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 0.8em;
}
@media (pointer: none), (pointer: coarse) {
  button.sptoggle {
    bottom: 95.5%;
    right: 3%;
  }
}
