#define FG1 #444444
#define BG1 #f2f2f2

#define FG2 #333333
#define BG2 #d3d3d3

#define URL #3366cc
#define URLVISITED #7755bb

#define INFOFG #0000ff
#define INFOBG #add8e6

#define WARNBG #ffffe0
#define WARNFG #008000

#define ERRORBG #ffc0cb
#define ERRORFG #8b0000

#define SPOILFG #443231
#define SPOILBG #e2c49c

#define BLOCK_MARK 4px
#define INDENT 0.5em

html {
  font-size: 10px;
  font-family:
    /* system-ui, default font on user's OS UI, causes localization issues */
    -apple-system, /* San Francisco in Safari, Helvetica Neue/Lucida Grande on MacOS */
    /* BlinkMacSystemFont, Chrome version of system-ui on MacOS */
    "Segoe UI", /* Windows, Windows Phone */
    Roboto, /* Android, Chrome OS */
    /* Ubuntu, Ubuntu (duh) */
    /* Oxygen, KDE */
    /* Cantarell, GNOME */
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  text-rendering: optimizeLegibility; /* old browsers don't set this by default */
}

.body {
  margin: 8% auto;
  padding: 4%;
  max-width: 80%;
  color: FG1;
  background: BG1;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.2),
    0 15px 40px rgba(0, 0, 0, 0.05);
}
p {
  /* don't let default p formatting mess with parent elems */
  margin: 0;
}
p + p {
  margin-top: 10px;
}

.-header {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
}
.-header > h2 {
  position: relative;
  left: 2%;
  display: none;
}
.-header > h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.-header > img {
  border: BLOCK_MARK solid FG1;
  border-radius: 50%;
  width: 3.8em;
  height: 3.8em;
}
.nav {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}
.nav > a, .lessonnav a {
  display: inline-block;
  width: 20%; /* emulate flex/justify-content */
  color: inherit;
  border-style: outset;
  border-color: BG2;
  border-radius: 0.5em;
  text-decoration: none;
  font-size: 0.8em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.nav > a:active {
  background: BG2;
  border-style: inset;
}
.nav > a:hover {
  color: inherit;
  background: BG2;
  text-decoration: none;
}
.nav > a:visited {
  color: inherit;
}

.footer {
  font-size: 0.75em;
  line-height: 1em;
  text-align: center;
}
.footer img {
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,1);
}

.article {
  padding-left: INDENT;
  padding-right: INDENT;
  line-height: 1.5em;
}
a {
  text-decoration: underline URL;
  color: URL;
}
a:hover {
  text-decoration: underline dotted;
}
a:visited {
  text-decoration: underline URLVISITED;
  color: URLVISITED;
}
blockquote,
.info,
.warning,
.error,
.blogentry,
div.sourceCode {
  margin: INDENT;
  padding: INDENT;
}
blockquote {
  color: FG2;
  background: BG2;
  border-left: BLOCK_MARK solid FG2;
}

mark,
code,
sup,
sub {
  padding: 0.1em; /* breathing room */
}
code {
  font-family: monospace;
  background: BG2;
}
div.sourceCode {
  font-family: monospace;
  background: BG2;
  border-left: BLOCK_MARK solid FG2;
}
table {
  background: BG2;
  border: 2px solid FG1;
  border-collapse: collapse;
}
thead {
  border: 2px solid FG1;
}
td,
th {
  border: 1px solid FG1;
  padding: 0.25em;
}
hr {
  border: 1px solid FG1;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.details { 
/* This is a hack that targets JUST the NDS.
 * It won't follow CSS rules applied to custom elements, and it doesn't recognize summary/details.
 * So Pandoc applies a class to all identified summary/details, and we use it to assign rules anyway.
 * */
  display: block;
  color: SPOILFG;
  background: SPOILBG;
  border-left: BLOCK_MARK solid SPOILFG;
  margin: INDENT;
}
.summary {
  cursor: pointer;
  padding: INDENT;
  /* display: list-item; */
  /* this is the default display, but it doesn't help on ie11 */
}
.summary > * {
  display: inline-block;
}
.details > p {
  padding: INDENT;
}
.details[open] {
  padding-bottom: 0.25em;
}
.details[open] > .summary {
  border-bottom: BLOCK_MARK solid SPOILFG;
}
/* fake blockquotes like github alerts */
.info:before,
.warning:before,
.error:before {
  float: right;
  font-size: 3em;
  padding: 0.2em;
}
.info,
.warning,
.error {
  min-height: 3em;
}
.info:before {
  content: "★";
}
.warning:before {
  content: "⚠";
}
.error:before {
  content: "⚑";
}
.info {
  color: INFOFG;
  background: INFOBG;
  border-left: BLOCK_MARK solid INFOFG;
}
.warning {
  color: WARNFG;
  background: WARNBG;
  border-left: BLOCK_MARK solid WARNFG;
}
.error {
  color: ERRORFG;
  background: ERRORBG;
  border-left: BLOCK_MARK solid ERRORFG;
}

.lessonnav {
  text-align: center;
  font-size: 1.3em;
}

/* each blogpost link */
.blogentry {
  background: BG2;
  border-left: BLOCK_MARK solid FG2;
}
.bloglink {
  font-weight: bold;
  padding-left: 1em;
}
.blogdetails {
  margin: 0.25em;
  margin-left: 2em;
}

@font-face {
  font-family: sp;
  src: url("/ntl.ttf");
}
.tokipona {
  font-family: sp;
}

.glyph {
  font-family: sp;
  font-size: 2em;
  vertical-align: bottom;
  line-height: 0.5em;
}
.glyphsubtitle {
  vertical-align: text-bottom;
  line-height: 0.5em;
}

input#sptoggle {
  background-image: url("/sitelenpona.png");
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
  padding-left: 2em;
  height: 2em;
  position: fixed;
  bottom: 3%;
  right: 3%;
  font-size: 0.8em; /* slightly larger than its default */
  border-style: outset;
  cursor: pointer;
}
input#sptoggle:hover {
  background-color: BG2;
}
input#sptoggle:active {
  border-style: inset;
}

@media (pointer: fine), (min-width: 800px) {
  html {
    font-size: 18px;
  }
  table {
    margin: INDENT;
  }
  .body {
    max-width: 69%
  }
  .article {
    line-height: 1.7em;
  }
  .-header > h2 {
    display: block;
  }
  .nav > a {
    font-size: 1em
  }
}

@media (pointer: none), (pointer: coarse) {
  html {
    font-size: 16px;
  }
  input#sptoggle {
    font-size: 1em;
  }
}
